.TittleValores {
    font-weight: bolder !important;
    font-size: 25px !important;
}

.IconValores {
    width: 100%;
    text-align: center;
}

.caracteristicastextIconValores {
    font-size: 12px !important;
    font-weight: bolder;
}


.contenedorCardValores {
    padding: 25px 20px;
    height: 100%;
  
}

.textIconValores {
    margin-top: 10px;
    text-align: center;
}