.Container1Informacion
{
    padding-bottom: 50px;
}
.CardBeneficio{
    display: flex;
    /* margin-bottom: 30px; */
}
.TittleBeneficiosCargasDiversas{
    font-weight: bolder;
    font-size: 18px !important;
    padding-bottom: 15px;
   
}
.ContenedorTittleBeneficios
{
    border-bottom: 1px solid;
}
.negrita{
    font-weight: bolder;
}
.ContenedorCardBeneficio{
    padding-top: 35px;
}
.TextBeneficio1{
    text-align: justify ;
}

.CargasDiversasText{
    text-align: justify;
}