.textCertificado{
    font-size: 18px !important;
    align-items: justify !important;
    font-weight: bolder !important;
}

.imgUKAS{
    height: 60px;
    width: 56px;
    margin-left: 36px;
}

.imgIso39001{
    height: 60px;
    width: 88px;
    margin-left: 36px;
}
.imgHodelpe{
    height: 60px;
    width: 88px;
    margin-left: 36px;
}
.contenedor1CertificadosHome
{
    display: flex;
    text-align:center;    
    align-items: center; 
   
}